main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main_title h1{
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

.main_title p{
  text-align: center;
  width: 55%;
}


.contact-plans-section{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 2rem;
}